.Button {
	padding: 10px;

	cursor: pointer;
	transition: .2s;
	text-align: center;

	color: $white;
	border: 0;
	border-radius: 5px;

	font-size: 14px;
}

.primary {
	background: $primary;

	&:hover {
		background: darken($primary, 10%);
	}
}

.outlined {
	color: $black;
	border: 1px solid $light-gray;
	background: transparent;

	&:hover{
		background: $light-gray;
	}
}
